.sidebar__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding :20px;
    background: #2f3135;
    border-bottom: 3px solid #26282c;
}
.icon {
    cursor: pointer;
}